.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-border {
  border: 0;
}
.no-focus-style:focus {
  outline: none;
}
.no-display {
  display: none;
}
.no-visible {
  visibility: hidden;
}
.disable-btn {
  color: grey;
}
.save-edit-task {
  color: forestgreen !important;
}
.complete-task {
  text-decoration: line-through;
  border: transparent!important;
}
.cancel-edit-task {
  color: red !important;
}
.number-input {
  -moz-appearance: textfield;
}
.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.content {
  width: 99%;
}
div,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
ul,
p,
label {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}
input,
textarea {
  border: 0;
  padding: 0;
  margin: 0;
  width: 96%;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: red;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: red;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: red;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: red;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: red;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: red;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: red;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  color: red;
}
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
}
.main-header-wrapper p:first-child {
  margin-bottom: 0;
}
.main-header-wrapper p:last-child {
  margin-bottom: 18px;
}
.main-header-wrapper p:last-child a {
  font-size: 24px;
  color: #3f9fd0;
}
.main-header-wrapper p:last-child a:hover {
  text-decoration: none;
  color: #4d75a0;
}
.main-header-wrapper p:last-child a i {
  padding-right: 6px;
}
.to-do-list {
  width: 70%;
  margin-left: 240px;
  font-size: 24px;
  font-family: "Bell MT";
  color: #000;
  display: inline-block;
}
.to-do-list li {
  text-align: left;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
  margin: auto;
  width: 70%;
}
.to-do-list li:hover {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  cursor: pointer;
}
.to-do-list li:hover a[title] {
  display: inline;
}
.to-do-list li:hover a[title="save task"] {
  display: none;
}
.to-do-list li:hover a[title="cancel edit task"] {
  display: none;
}
.to-do-list li:hover.complete-task a[title] {
  visibility: hidden;
}
.to-do-list li.active-edit {
  border: 2px solid #636b6f;
  border-radius: 0.25rem;
}
.to-do-list li.active-edit a[title="save task"] {
  position: absolute;
  left: 92%;
  top: 0;
  display: inline !important;
}
.to-do-list li.active-edit a[title="save task"] > i {
  font-size: 0.5em;
  color: grey;
}
.to-do-list li.active-edit a[title="cancel edit task"] {
  position: absolute;
  left: 96%;
  top: 0;
  display: inline !important;
}
.to-do-list li.active-edit a[title="cancel edit task"] > i {
  font-size: 0.5em;
  color: red;
}
.to-do-list li.active-edit:hover {
  cursor: default;
}
.to-do-list li.active-edit:hover a[title] {
  display: none;
}
.to-do-list li span:first-child {
  padding-right: 4px;
}
.to-do-list li label {
  width: 90%;
}
.to-do-list li a[title] {
  display: none;
}
.to-do-list li a[title="complete task"] {
  position: absolute;
  left: 90%;
  top: -10px;
}
.to-do-list li a[title="complete task"] > i {
  font-size: 0.5em;
  color: forestgreen;
}
.to-do-list li a[title="edit task"] {
  position: absolute;
  left: 94%;
  top: -10px;
}
.to-do-list li a[title="edit task"] > i {
  font-size: 0.5em;
  color: #6a8a9a;
}
.to-do-list li a[title="delete task"] {
  position: absolute;
  left: 98%;
  top: -10px;
}
.to-do-list li a[title="delete task"] > i {
  font-size: 0.5em;
  color: red;
}
.projects-list {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
.projects-list thead th {
  vertical-align: baseline;
  font-size: 24px;
  text-align: center;
}
.projects-list thead th a {
  color: #636b6f;
}
.projects-list th {
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}
.project-manager input[placeholder="Project title"] {
  font-weight: 600;
}
.project-manager textarea[name="description"] {
  height: 200px;
  font-weight: 600;
}
.project-manager button[type="submit"] {
  font-weight: 900;
}
.project-content {
  display: inline-block;
  margin-bottom: 0;
}
.project-content .project-wrapper-content {
  display: flex;
  /*grid-template-columns:.7fr .1fr .3fr;
        grid-template-rows:1fr;*/
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.project-content .project-wrapper-content:hover {
  cursor: pointer;
}
.project-content .project-wrapper-content:hover p:nth-child(2),
.project-content .project-wrapper-content:hover p:nth-child(3) {
  visibility: visible;
}
.project-content .project-wrapper-content p:nth-child(2),
.project-content .project-wrapper-content p:nth-child(3) {
  visibility: hidden;
}
.project-content .project-wrapper-content p:first-child {
  font-size: 64px;
}
.project-content .project-wrapper-content p:nth-child(2) {
  margin-left: 24px;
  margin-right: 24px;
}
.project-content .project-wrapper-content p a[title="edit project"] > i {
  color: #6a8a9a;
}
.project-content .project-wrapper-content p a[title="delete project"] > i {
  color: red;
}
article {
  font-size: 24px;
}
.ajax-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}
.preloader {
  font-size: 16px;
}
.preloader img {
  width: 48px;
  height: auto;
}
.news-content {
  width: 95%;
  min-width: 65%;
  margin: auto;
  font-size: 16px;
  font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif;
  font-weight: 900;
}
.news-content .news-content__posts {
  margin-bottom: 48px;
}
.news-content .news-content__posts .news-content__post__category {
  text-align: left;
  margin-bottom: 12px;
}
.news-content .news-content__posts .news-content__post__category a {
  color: #000;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
}
.news-content .news-content__posts .news-content__post__category a:hover {
  color: #636b6f;
}
.news-content .news-content__posts .news-content__post__item-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 8px;
}
.news-content .news-content__posts .news-content__post__item-wrapper .news-content__post__item {
  position: relative;
}
.news-content .news-content__posts .news-content__post__item-wrapper .news-content__post__item a span {
  display: block;
  color: #fff;
  width: 98%;
}
.news-content .news-content__posts .news-content__post__item-wrapper .news-content__post__item a span:first-child {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.news-content .news-content__posts .news-content__post__item-wrapper .news-content__post__item a span:nth-child(2) {
  position: absolute;
  top: 45%;
  left: 1%;
}
.news-content .news-content__posts .news-content__post__item-wrapper .news-content__post__item a span:last-child {
  height: 100%;
  width: 100%;
  margin: 0;
}
.news-content .news-content__posts .news-content__post__item-wrapper .news-content__post__item a span:last-child img {
  width: 100%;
  height: auto;
}
.news-content .news-content__posts .news-content__post__item-wrapper .news-content__post__item a:hover span:nth-child(2) {
  text-decoration: underline;
}
.error-input-data {
  border-color: red;
}
.ajax-error {
  font-size: 16px;
}
