@import "variables";
@import "functions";
.no-margin{
    margin:0;
}
.no-padding{
    padding:0;
}
.no-border{
    border:0;
}
.no-focus-style{
    &:focus{
        outline: none;
    }
}
.no-display{
    display: none;
}
.disable-btn{
    color:@disable_btn_color;
}
.save-edit-task{
    color:@task_completed_color!important;
}
.complete-task{
    text-decoration: line-through;
    border:transparent!important;
}
.cancel-edit-task{
    color:@task_delete_color!important;
}
.number-input{
    &::-webkit-inner-spin-button,&::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    & {
        -moz-appearance: textfield;
    }
}

